<br>
<br>
<br>
<!-- Footer -->

<footer class="text-center">
  <!-- Grid container -->

  <div class="container pt-4">

    <!-- Section: Links to other pages -->
    <section class="mb-1">

      <!-- Meta -->
      <a
        class="btn btn-floating"
        href="#"
        role="button"
      >
        <p>Meta</p>
      </a>

      <!-- About -->
      <a
        class="btn btn-floating"
        href="#"
        role="button"
      >
        <p>About</p>
      </a>

      <!-- Blog -->
      <a
        class="btn btn-floating"
        href="#"
        role="button"
      >
        <p>Blog</p>
      </a>

      <!-- Jobs -->
      <a
        class="btn btn-floating"
        href="#"
        role="button"
      >
        <p>Jobs</p>
      </a>

      <!-- Help -->
      <a
        class="btn btn-floating"
        href="#"
        role="button"
      >
        <p>Help</p>
      </a>

      <!-- API -->
      <a
        class="btn btn-floating "
        href="#"
        role="button"
      >
        <p>API</p>
      </a>

      <!-- Privacy -->
      <a
        class="btn btn-floating"
        href="#"
        role="button"
      >
        <p>Privacy</p>
      </a>

    </section>
    <!-- Section: Links to other pages -->

  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center footer-font">
    © 2022 Instagram from Meta
  </div>
  <!-- Copyright -->

  <br>
</footer>
<!-- Footer -->
