<div class="premium-wrapper">
  <img class="plan-image" src="/premium.png">
  <h2 class="plan-title">Get Instagram Premium</h2>
  <h6 class="plan-description">
    Subscribe now to the premium version of Instagram & get your purple badge instantly!
  </h6>
  <%= link_to "Subscribe for $100/mo", subscriptions_path(:id => params[:id]),
              method: :post, class: "premium-button"%>
</div>
