<% if current_user.following.include?(@post.user) or @post.user == current_user or !(@post.user.is_private?) %>
  <%= render 'posts/show-post', post: @post %>
<% else %>
  <div class="private-account-msg text-center">
    <strong><p> Content Unavailable! </p></strong>
  </div>
<% end %>