/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "toastr";
$border-color: #e6e6e6;

// Default body style
body{
  background-color: white !important;
  font-size: 14px;
  color: #262626;
}

// Default body style

// Navbar
.navbar{
  box-shadow: 0 1px 1px #e6e6e6;
  height: 60px;
  margin: auto;
  padding-left: 25vw;
  padding-right: 20vw;

  .navbar-brand > img {
    height: 2.5vw;
  }

  a > i{
    font-size: 1.25vw;
    margin-right: 1vw;
  }

  .search-bar{
    margin-left: 8vw;
    background-color: #eeeded;
    height: 1.75vw;
    font-size: 0.9vw;
  }

  .navbar-image{
    height: 25px;
    width: 25px;
    border-radius: 50%;
  }
}
// Navbar



// For phone display on sign in / sign up page
.phone{

  .parent{
    position: relative;
    top: 20px;
    left: 120px;
  }

  .iphone{
    position: relative;
    height: 610px;
    margin-left: -35px;
    margin-right: -15px;
    top: 0;
    left: 0;
  }
  .iphone1{
    position: absolute;
    height: 610px;
    top: 10px;
    left: 80px;
  }

  .screenshot {
    position: absolute;
    top: 78px;
    left: 98px;
    .item{
      position: absolute;
    }
  }

  .size-screenshot{
    height: 478px;
    width: 267px;
  }
}
// For phone display on sign in / sign up page

// For the form of sign in / sign up page
.main-form{
  margin-top: 70px;

  .form-login {
    width: 350px;
    margin-top: 35px;
    font-size: 12px;
    color: #868686;
  }
  form {
    padding: 0 40px;
  }
  .btn-primary{
    width: 100%;
    line-height: 20px;
    font-size: 14px;
    font-weight: 600;
  }

  input{
    border: 1px solid #868686;
  }

  .form-check-label{
    padding: 0;
    font-size: 15px;
    color: #262626;
  }
  .redirect-links{
    width: 350px;
  }
  .box{
    background-color: #fff;
    border: 1px solid #e6e6e6;
    padding: 10px 0;
    margin: 0 0 10px;
  }
  .brand-name-img{
    height: 4vw;
    width: 10vw;
  }
}
// For the form of sign in / sign up page

// Footer
footer{
  .footer-font{
    font-size: 12px;
    color: #868686;
  }

  .mb-1{
    a {
      font-size: 12px;
      color: #868686;
    }
  }

  .pt-4{
    border-top: $border-color 1px solid;
  }
}
// Footer

// Profile Page
.profile-wrapper{
  padding: 60px 0;
  border-bottom: 1px solid #e6e6e6;

  .username{
    font-size: 32px;
    font-weight: lighter;
  }

  .email{
    font-size: 16px;
    font-weight: bold;
  }

  .bio{
    font-size: 16px;
    font-weight: lighter;
  }
}
.round-image{
  border-radius: 50%;
}

.edit-profile-btn{
  height: 28px;
  line-height: 24px;
  padding: 0 8px;
  border-color: #e6e6e6;
  background-color: white;
  font-size: 14px;
  margin: 9px 0 0 15px;
  font-weight: bold;
  color: black;
}
.edit-profile-btn:hover{
  color: black;
}


.setting-btn{
  height: 28px;
  line-height: 24px;
  font-size: 23px;
  margin: 9px 0 0 15px;
  padding: 0 0 0 0;
  background-color: white;
}
.posts-column{
  width: auto;
  padding: 5px;
  border: #e6e6e6 1px solid;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.posts{
  padding-top: 30px;
  margin: auto auto auto 50px;
}

.user-info{
  margin-right: 30px;
}

.private-account-msg{
  margin: 150px auto;
  padding: 30px;
  border: $border-color 1px solid;
}
// Profile Page

// edit profile page
.box-center{
  margin: auto;
  width: 60%;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  padding: 20px 70px 20px 70px;
}
.image-edit{
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.form-group{
  .form-fullname{
    font-size: 22px;
    margin-left: 15px;
  }
}

.form-header{
  font-weight: bold;
  text-align: right !important;
  font-size: 16px;
}

.del-acc{
  margin-left: 40px;
}

// edit profile page

// homepage (posts page)
.boxed-post{
  border: 1px solid #e6e6e6;
  width: 451px;
  padding: 0;
  border-radius: 5px;
  margin: 20px auto 30px;
}
.post-content{
  padding: 10px !important;
  font-size: 15px !important;
}
.thumbnail-avatar{
  height: 40px;
  width: 40px;
  margin-right: 10px;
  border-radius: 50%;
}
.post-username{
  font-weight: bold;
  color: #262626;
  margin: 0;
  padding: 0;
}

.customModal{
  padding: 50px;

  .control-label{
    margin-right: 20px;
  }

  .text_field{
    width: 68%;
  }

  .modal-box{
    border: #e6e6e6 2px solid;
    margin: 10px;
    padding: 30px 10px;
  }
}
.add-post-box{
  margin: 50px auto;
  text-align: center;
}
.add-post{
  border: #e6e6e6 1px solid;
  background-color: white;
  width: 451px;
  padding-left: 10px;
  font-size: 20px;
}
.add-post:hover{
  background-color: #bbbbbb;
}

.post-time{
  color: #666666 !important;
  font-size: 10px !important;
}

.row{
  width: auto;
  margin: 0;
}

.homepage-post-btn{
  color: black;
  margin-right: 5px;
}

.two-columns{
  width: 50%;
  overflow-x: hidden;
}

.edit-options{
  text-align: right;
  padding: 8px;
}
// homepage (posts page)

// edit posts
.edit-post{
  border: #e6e6e6 1px solid;
  margin: 50px auto;
  padding: 30px;
  width: 450px;
}
// edit posts

.react-btn-post{
  font-size: 24px;
  margin-right: 5px;
  color: black;
}

.request-text{
  margin-top: 13px;
}

.box-center{
  margin: 30px auto auto;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  padding: 20px;
  text-align: center;
  width: fit-content;
}

