.fa-circle-plus{
  background-color: white;
  margin: 0;
  padding: 0;
  font-size: 40px !important;
}
.add-story-box{
  padding: 0;
  margin: 50px auto;
  width: 451px;
  border: #e6e6e6 solid 1px;
  overflow-x: auto;
}
